<%- include("../layout/header.ejs") %>
<div class="body flex center">
    <div class="index-main">
        <div class="index-header">
            <h1 class="logo"></h1>
            <p class="describe">一条大河波浪宽</p>
        </div>
        <div class="form-name flex center">
            <a class="form-active" href="/login">登录</a>
            <a href="/reg">注册</a>
        </div>
        <div class="index-form">
            <form method="post" action="/login">
                <div class="form-item">
                    <input type="input" name="email" placeholder="邮箱"/>
                </div>
                <div class="form-item">
                    <input type="password" name="pwd" placeholder="请输入密码">
                </div>
                <div class="button-item">
                    <input class="btn btn-sure" type="submit" value="注册">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("../layout/footer.ejs") %>